<div class="container mt-4">
  <h2>Books List</h2>

  <%= link_to "Add New Book", new_book_path, class: "btn btn-primary mb-3" %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.rating %></td>
          <td>
            <%= link_to "Edit", #openn edit page and Calls edit action in controller
                        edit_book_path(book),
                        # btn-waring for yello botton , sm+small size
                        class: "btn btn-warning btn-sm" %>   
            
            <%= link_to "Delete",       
                        book_path(book),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                        class: "btn btn-danger btn-sm ms-2" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
